ALLOWED_ORIGIN=*
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
CONTEXT=/test
DB_TYPE=mysql/sqlite3
DB_PATH=chorus.db
DB_HOST=127.0.0.1
DB_PORT=0
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SCHEMA=

RATE_LIMIT_DEFAULT=100/hour
RATE_LIMIT_LOGIN=5/minute
RATE_LIMIT_UPLOAD=120/minute
RATE_LIMIT_DOWNLOAD=120/minute

MAINTENANCE_MODE=false

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

